<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dut_type</key>
	<string>--</string>
	<key>test_type</key>
	<string>1</string>
	<key>isWaveNeed</key>
	<true/>
	<key>isDebug</key>
	<false/>
	<key>scheme_1</key>
	<false/>
	<key>nullTest</key>
	<ture/>
	<key>multimeter</key>
	<string>34410A</string>
	<key>fixture_id</key>
	<string>000001</string>
	<key>PCB_id</key>
	<string></string>
	<key>fixture_uart_baud</key>
	<integer>19200</integer>
	<key>fixture_uart_port_name</key>
	<string>/dev/cu.usbserial-EW-FIX</string>
	<key>fixture_uart_dataBit</key>
	<string>8</string>
	<key>fixture_uart_parity</key>
	<string>none</string>
	<key>fixture_uart_stopBit</key>
	<string>1</string>
	<key>humiture_uart_baud</key>
	<string>9600</string>
	<key>humiture_uart_port_name</key>
	<string>/dev/cu.usbserial-Humit</string>
	<key>humiture_uart_dataBit</key>
	<string>8</string>
	<key>humiture_uart_parity</key>
	<string>none</string>
	<key>humiture_uart_stopBit</key>
	<string>1</string>
	<key>sw_name</key>
	<string>ErBium_BC_OQC_Station</string>
	<key>sw_ver_T1</key>
	<string>VQ1.0.5</string>
	<key>sw_ver_T2</key>
	<string>V2.0.0</string>
	<key>sw_ver</key>
	<string> </string>
	<key>DCR_Vs</key>
	<string>3.996</string>
	<key>Cfix</key>
	<string></string>
	<key>Rfix</key>
	<string></string>
	<key>s_build</key>
	<string>--</string>
	<key>thdn</key>
	<integer>5</integer>
	<key>ui_title</key>
	<string>--</string>
	<key>ui_versiom</key>
	<string>--</string>
	<key>station</key>
	<string>--</string>
	<key>stationID</key>
	<string>--</string>
	<key>fixtureID</key>
	<string>--</string>
	<key>lineNO</key>
	<string>--</string>
	<key>waveFrequence</key>
	<string>--</string>
	<key>waveOffset</key>
	<string>0</string>
	<key>waveVolt</key>
	<string>8</string>
	<key>fix_Cap</key>
	<string>59.515,59.544,59.439</string>
	<key>fix_B2_E2_Res</key>
	<string>647.777,679.865,591.911</string>
	<key>fix_B4_E4_Res</key>
	<string>669.929,701.536,615.752</string>
	<key>fix_B_E_Res</key>
	<string>700.650,732.911,648.342</string>
	<key>fix_ABC_DEF_Res</key>
	<string>695.513,727.524,648.467</string>
	<key>differentSNArray</key>
	<array>
		<string>J5P1</string>
		<string>J8M7</string>
	</array>
	<key>SocketConfig</key>
	<dict>
		<key>Port</key>
		<string>8888</string>
		<key>IP</key>
		<string>127.0.0.1</string>
	</dict>
	<key>ServerFC_0</key>
	<dict>
		<key>Server_IP</key>
		<string>10.12.5.70</string>
		<key>BDAServer_IP</key>
		<string>10.12.5.70</string>
		<key>Net_Port</key>
		<string>80</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Station_Name</key>
		<string>Sensor-Board-EME</string>
		<key>Front_StationName</key>
		<string>Sensor-Before-EME</string>
		<key>Next_StationName</key>
		<string>Crown-Flex-EME</string>
		<key>Product</key>
		<string>A211</string>
	</dict>
	<key>ServerFC_1</key>
	<dict>
		<key>Server_IP</key>
		<string>10.12.5.70</string>
		<key>BDAServer_IP</key>
		<string>10.12.5.70</string>
		<key>Net_Port</key>
		<string>80</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Station_Name</key>
		<string>Crown-Flex-EME</string>
		<key>Front_StationName</key>
		<string>Sensor-Board-EME</string>
		<key>Next_StationName</key>
		<string>Sensor-FlexSub-EME</string>
		<key>Product</key>
		<string>A211</string>
	</dict>
	<key>ServerFC_2</key>
	<dict>
		<key>Server_IP</key>
		<string>10.12.5.70</string>
		<key>BDAServer_IP</key>
		<string>10.12.5.70</string>
		<key>Net_Port</key>
		<string>80</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Station_Name</key>
		<string>Sensor-FlexSub-EME</string>
		<key>Front_StationName</key>
		<string>Crown-FIex-EME</string>
		<key>Next_StationName</key>
		<string>Crown-RotationSub-EME</string>
		<key>Product</key>
		<string>A211</string>
	</dict>
	<key>ServerFC_3</key>
	<dict>
		<key>Server_IP</key>
		<string>10.12.5.70</string>
		<key>BDAServer_IP</key>
		<string>10.12.5.70</string>
		<key>Net_Port</key>
		<string>80</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Station_Name</key>
		<string>Crown-RotationSub-EME</string>
		<key>Front_StationName</key>
		<string>Sensor-FlexSub-EME</string>
		<key>Next_StationName</key>
		<string>Crown-RotationSub-Before</string>
		<key>Product</key>
		<string>A211</string>
	</dict>
	<key>Fixture_Refence</key>
	<dict>
		<key>Fixture001</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string> </string>
				<key>Ave</key>
				<string> </string>
				<key>Min</key>
				<string> </string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string> </string>
				<key>Ave</key>
				<string> </string>
				<key>Min</key>
				<string> </string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string> </string>
				<key>Ave</key>
				<string> </string>
				<key>Min</key>
				<string> </string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture002</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>56.51</string>
				<key>Ave</key>
				<string>56.448</string>
				<key>Min</key>
				<string>56.373</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>348.206</string>
				<key>Ave</key>
				<string>323.291</string>
				<key>Min</key>
				<string>293.372</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>347.772</string>
				<key>Ave</key>
				<string>327.796</string>
				<key>Min</key>
				<string>301.299</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture003</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>59.868</string>
				<key>Ave</key>
				<string>59.830</string>
				<key>Min</key>
				<string>59.756</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>321.363</string>
				<key>Ave</key>
				<string>297.566</string>
				<key>Min</key>
				<string>251.081</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>332.351</string>
				<key>Ave</key>
				<string>307.629</string>
				<key>Min</key>
				<string>260.82</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture004</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>58.031</string>
				<key>Ave</key>
				<string>58.017</string>
				<key>Min</key>
				<string>57.985</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>1312.969</string>
				<key>Ave</key>
				<string>1217.354</string>
				<key>Min</key>
				<string>1090.659</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>1354.37</string>
				<key>Ave</key>
				<string>1264.299</string>
				<key>Min</key>
				<string>1159.186</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string>1471.199</string>
				<key>Ave</key>
				<string>1374.569</string>
				<key>Min</key>
				<string>1277.315</string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string>1483.785</string>
				<key>Ave</key>
				<string>1391.070</string>
				<key>Min</key>
				<string>1306.506</string>
			</dict>
		</dict>
		<key>Fixture005</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>57.947</string>
				<key>Ave</key>
				<string>57.898</string>
				<key>Min</key>
				<string>57.864</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>157.682</string>
				<key>Ave</key>
				<string>155.429</string>
				<key>Min</key>
				<string>154.11</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>147.211</string>
				<key>Ave</key>
				<string>146.615</string>
				<key>Min</key>
				<string>146.063</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture006</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>57.074</string>
				<key>Ave</key>
				<string>57.047</string>
				<key>Min</key>
				<string>56.985</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>1289.679</string>
				<key>Ave</key>
				<string>1202.286</string>
				<key>Min</key>
				<string>1059.695</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>1376.007</string>
				<key>Ave</key>
				<string>1302.123</string>
				<key>Min</key>
				<string>1195.497</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string>1506.82</string>
				<key>Ave</key>
				<string>1439.985</string>
				<key>Min</key>
				<string>1356.8</string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string>1513.335</string>
				<key>Ave</key>
				<string>1463.017</string>
				<key>Min</key>
				<string>1417.849</string>
			</dict>
		</dict>
	</dict>
	<key>Fixture_Refence2</key>
	<dict>
		<key>Fixture001</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture002</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>10.099</string>
				<key>Ave</key>
				<string>10.057</string>
				<key>Min</key>
				<string>10.001</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>422.39</string>
				<key>Ave</key>
				<string>409.307</string>
				<key>Min</key>
				<string>385.64</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>474.96</string>
				<key>Ave</key>
				<string>460.856</string>
				<key>Min</key>
				<string>436.96</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture003</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>10.085</string>
				<key>Ave</key>
				<string>10.071</string>
				<key>Min</key>
				<string>10.057</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>486.37</string>
				<key>Ave</key>
				<string>470.447</string>
				<key>Min</key>
				<string>458.65</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>549.65</string>
				<key>Ave</key>
				<string>539.876</string>
				<key>Min</key>
				<string>530.81</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture004</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>10.13</string>
				<key>Ave</key>
				<string>10.106</string>
				<key>Min</key>
				<string>10.042</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>380.06</string>
				<key>Ave</key>
				<string>373.727</string>
				<key>Min</key>
				<string>356.74</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>436.73</string>
				<key>Ave</key>
				<string>427.321</string>
				<key>Min</key>
				<string>399.95</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture005</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>10.348</string>
				<key>Ave</key>
				<string>10.322</string>
				<key>Min</key>
				<string>10.308</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>246.44</string>
				<key>Ave</key>
				<string>238.14</string>
				<key>Min</key>
				<string>221.75</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>270.34</string>
				<key>Ave</key>
				<string>258.894</string>
				<key>Min</key>
				<string>237.49</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
		<key>Fixture006</key>
		<dict>
			<key>Fixture_cap</key>
			<dict>
				<key>Max</key>
				<string>10.42</string>
				<key>Ave</key>
				<string>10.385</string>
				<key>Min</key>
				<string>10.364</string>
			</dict>
			<key>B2_E2_Res</key>
			<dict>
				<key>Max</key>
				<string>230.03</string>
				<key>Ave</key>
				<string>227.285</string>
				<key>Min</key>
				<string>221.53</string>
			</dict>
			<key>B4_E4_Res</key>
			<dict>
				<key>Max</key>
				<string>267.49</string>
				<key>Ave</key>
				<string>261.259</string>
				<key>Min</key>
				<string>252.85</string>
			</dict>
			<key>B_E_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<key>ABC_DEF_Res</key>
			<dict>
				<key>Max</key>
				<string></string>
				<key>Ave</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
